body {
    background-color: rgb(0, 0, 0);
    margin:0;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-count: 3;

}

.container2 {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    column-gap: 10px;
    margin-bottom: 10px;
    margin-top: 2px;
    position: sticky;
    top: 0;
    background-color: #000000;
    padding-bottom: 5px;
    z-index: 2;
}

.colly {
    flex: 1 1 auto;
    color: white;
    font-size: 20px;
    height: 60px;
    box-shadow: 5px 5px 2px 1px rgba(255, 0, 119, 0.986);
    text-align: center;
    padding-top: 20px;
}

.flex-item {
    background-color: rgb(102, 73, 129);
    flex: 1 1 auto;
    border: solid #000000 2px;
    font-size: 20px;
    padding-left: 7px;
    color:rgb(255, 255, 255);
    line-height: 110%;
}

#col1, #col3 {
    flex: 1;
    display: flex;
    flex-direction: column;
}


#col2 {
    flex: 3;
    display: flex;
    flex-direction: column;
}

#flex-item7 {
    text-align: center;
    font-size: 2vw;
    background-color: #d40000;
    padding-right: 7px;
    color: black;
}

@keyframes sos {
    0% {background-color: #820000;}
    50% {background-color: black;}
    100% {background-color: #820000;}
}

#flex-item9:hover {
    background-color: #820000;
    transition-duration: 2s;
    animation-delay: 2s;
    animation-name: sos;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

#sticky {
    background-color: rgb(214, 214, 214);
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding: 5px;
    border: solid black 2px;
    display:block;
}

@keyframes byebitch {
    0% {background-color: rgb(214, 214, 214); color: #000000;}
    100% {background-color: rgb(214, 214, 214, 0); color: rgb(0,0,0,0);}
}

.usrpic {
    width: 80px;
    height:80px;
    clip-path: circle();
    vertical-align: middle;
    object-fit: cover;
}

.ammedup {
    width: 80px;
    clip-path: circle();
    vertical-align: middle;
}

@keyframes god {
    from {width: 0%}
    to {width: 100%}
}

@keyframes etext {
    0% {color:rgb(255, 255, 255, 0)}
    50% {color:rgb(255, 255, 255, 0)}
    100% {color:rgb(255,255,255,1)}
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    transition: width 3s;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.85);
    z-index: 2;
}

#estext {
    font-size: 60px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
}

.usrname {
    font-size: 20px;
    padding-left: 5px;
}

.liltext {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 15px;
}

.lovecalc {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../img/Love-calc.png");
    background-repeat: no-repeat;
    aspect-ratio: 4/3;
    background-size: contain;
    position: relative;
}

.fi {
    color: #000000;
    font-size: 20px;
    height: fit-content;
    position: absolute;
}

#yname {
    top: 4%;
    left: 10%;
}

#lname {
    top: 4%;
    right: 10%;
}

#bobby {
    top: 11.5%;
    left: 50%;
    background-color: rgb(0, 0, 0, 0);
    border: 0px;
    transform: translate(-50%, -0%);    
    line-height: 0%;
}

.gi {
    position: absolute;
    width: calc((980/2160)*100%);
    height: calc((988/1620)*100%);
    top: calc((438/1620)*100%);
    left: 50%;
    transform: translate(-50%, -0%);
}

#frommyheart {
  position: absolute;
  font-size: 6em;
  top: 45%;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
}

#heart {
    display: block;
    object-fit: cover;
    object-position: 50% 0%;
    height: 100%;
    width:100%;
}

#heart.active {
    animation: thicc 0.7s linear 0s 10 alternate-reverse;
}

#lcalcdes {
    position: absolute;
    font-size: 30px;
    color:rgb(0, 0, 0);
    top: 92%;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 100%;
    text-align: center;
}

@keyframes thicc {
    0% {height: 0%;}
    100% {height: 100%;}
}

.header {
    padding: 20px;
    padding-left: 40px;
    text-align: left;
    background: #06004d;
    transition: background-color 4s ease-out 100ms;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "Permanent Marker";
}  

.header:hover {
    background-color: #820000;
}

.hot {
    width: 100%;
    padding-top: 5px;
}

#c1 {
    background-color: #63000c;
}

#c2 {
    background-color: #630040;
}

#c3, #boxc1, #boxc3, #boxc5, #boxc7, #flex-item8 {
    background-color: #600063;
}

#c4 {
    background-color: #3c0063;
}

#boxc2, #boxc4, #boxc6, #boxc8, #flex-item9 {
    background-color: #992c72;
}

#flex-item1 {
    background-color: #c7258e;
}

a:link, a:visited {
    color: wheat;
    text-decoration: underline;
    cursor: auto;
  }
/* CSS Document */
