body {
    background-color: rgb(0, 0, 0);
    margin:0;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-count: 3;
    position: relative;
    height: calc(100vh - 10vh - 12px - 5px - 7vh);
}

.container2 {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    column-gap: 10px;
    margin-bottom: 10px;
    margin-top: 2px;
    position: sticky;
    top: 0;
    background-color: #000000;
    padding-bottom: 5px;
    z-index: 2;
}

.colly {
    flex: 1 1 auto;
    color: white;
    font-size: min(2.5vh, 45px);
    height: 7vh;
    box-shadow: 5px 5px 2px 1px rgba(255, 0, 119, 0.986);
    text-align: center;
    padding-top: 2.25vh;
}

.flex-item {
    background-color: rgb(102, 73, 129);
    flex: 1 1 auto;
    border: solid #000000 2px;
    font-size: min(2.3vh, 20px) ;
    padding-left: 7px;
    color:rgb(255, 255, 255);
    line-height: 110%;
}

col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


#col1, #col3 {
    flex: 1;

}

#col1 {
    overflow-y: scroll;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#col2 {
    flex: 3;
    overflow-y: scroll;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#col3 {
    overflow-y: hidden;
}

.ad {
    text-align: center;
    font-size: 2vw;
    background-color: #d40000;
    color: black;
    position: sticky;
    top: 0;
    display: block;
    margin-top: 0.6%;
    margin-left: 1%;
}

@keyframes sos {
    0% {background-color: #820000;}
    50% {background-color: black;}
    100% {background-color: #820000;}
}

#flex-item9:hover {
    background-color: #820000;
    transition-duration: 2s;
    animation-delay: 2s;
    animation-name: sos;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

#sticky {
    background-color: rgb(214, 214, 214);
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding: 5px;
    border: solid black 2px;
    display:block;
}

@keyframes byebitch {
    0% {background-color: rgb(214, 214, 214); color: #000000;}
    100% {background-color: rgb(214, 214, 214, 0); color: rgb(0,0,0,0);}
}

.usrpic {
    height:100%;
    aspect-ratio: 1/1;
    clip-path: circle();
    vertical-align: middle;
    object-fit: cover;
}

.ammedup {
    height:100%;
    aspect-ratio: 1/1;
    clip-path: circle();
    vertical-align: middle;
    object-fit: cover;
}

@keyframes god {
    from {width: 0%}
    to {width: 100%}
}

@keyframes etext {
    0% {color:rgb(255, 255, 255, 0)}
    50% {color:rgb(255, 255, 255, 0)}
    100% {color:rgb(255,255,255,1)}
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    transition: width 3s;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.85);
    z-index: 2;
}

#estext {
    font-size: 8vh;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
}

.usrname {
    font-size: 2vh;
    padding-left: 5px;
}

.liltext {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: min(2vh, 15px);
}

#lovecalc {
    align-self: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../img/Love-calc.png");
    background-repeat: no-repeat;
    aspect-ratio: 4/3;
    background-size: 100% auto;
    position: relative;
}

#sky {
    align-self: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../img/sky.jpeg");
    background-repeat: no-repeat;
    aspect-ratio: 4/3;
    background-size: 100% auto;
    position: relative;
}

.sign {
    background-color: rgb(179, 0, 0, 0);
    position: absolute;
    top: 10.5%;
    height: 15%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    
}

#bow {
    left: 8%;
    width: 10%;
}

#snake {
    left: 25%;
    width: 18%;
}

#water {
    left: 41%;
    width: 10%;
}

#tallguy {
    left: 58.5%;
    width: 15%;
}

#vahy {
    left: 74%;
    width: 11%;
}

#scorpion {
    left: 90%;
    width: 15%;
}

.ngis {
    background-color: rgb(179, 0, 0, 0);
    position: absolute;
    bottom: -3.5%;
    height: 15%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}


#cow {
    left: 10.25%;
    width: 14%;
}

#fish {
    left: 28%;
    width: 12%;
}

#twins {
    left: 43.5%;
    width: 11%;
}

#lion {
    left: 59.5%;
    width: 11%;
}

#crab {
    left: 75%;
    width: 13%;
}

#girl {
    left: 91.5%;
    width: 6%;
}

.sun {
    top: 53%;
    left: 50%;
    background-color: #000000;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    position: absolute;
    font-size: 3vh;
    padding: 0.5vh;
    width: 25%;
    text-align: center;
    line-height: 105%;
}

.fi {
    color: #000000;
    position: absolute;
    
}

#yname {
    top: 4%;
    left: 10%;
    font-size: 3vh;
    width: 50%;
}

#lname {
    top: 4%;
    right: 10%;
    text-align: end;
    font-size: 3vh;
    width: 50%;
}

input {
    font-size: 2.5vh;
}

#winname, #losename {
    width: 60%;
    padding-top: 1%;
    margin-top: 1%;
    padding-bottom: 1%;
}

#bobby {
    top: 14%;
    left: 50%;
    background-color: rgba(235, 0, 145);
    border: solid 1px black;
    transform: translate(-50%, -50%);    
    line-height: 0%;
    font-size: 4vh;
    width: 12vh;
    height: 10vh;
}

.gi {
    position: absolute;
    width: calc((980/2160)*100%);
    height: calc((988/1620)*100%);
    top: calc((438/1620)*100%);
    left: 50%;
    transform: translate(-50%, -0%);
}

#frommyheart {
  position: absolute;
  font-size: 6em;
  top: 45%;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
}

#heart {
    display: block;
    object-fit: cover;
    object-position: 50% 0%;
    height: 100%;
    width:100%;
}

#heart.active {
    animation: thicc 0.7s linear 0s 10 alternate-reverse;
}

#lcalcdes {
    position: absolute;
    font-size: 4.5vh;
    color:rgb(0, 0, 0);
    top: 94.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

@keyframes thicc {
    0% {height: 0%;}
    100% {height: 100%;}
}

.heartache {
    animation: thicc 0.7s linear 0s 8 alternate-reverse;
}

.header {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin-top: 0%;
    padding-left: 5vh;
    text-align: left;
    background: #06004d;
    transition: background-color 4s ease-out 100ms;
    color: rgb(255, 255, 255);
    font-size: 7vh;
    font-family: "Satisfy";
}  

.header:hover {
    background-color: #820000;
}

.hot {
    width: 100%;
    padding-top: 5px;
}

#c1 {
    background-color: #63000c;
}

#c2 {
    background-color: #630040;
}

#c3 {
    background-color: #600063;
}

#boxc1, #boxc3, #boxc5, #boxc7, #flex-item8 {
    background-color: #600063;
    height: 6vh;
}

#c4 {
    background-color: #3c0063;
}

#boxc2, #boxc4, #boxc6, #boxc8, #flex-item9 {
    background-color: #992c72;
}

#flex-item1 {
    background-color: #c7258e;
}

a:link, a:visited {
    color: wheat;
    text-decoration: underline;
    cursor: auto;
  }

.col1::-webkit-scrollbar {
    display: none;
}

.col2::-webkit-scrollbar {
    display: none;
}
/* CSS Document */
