body {
    background-color: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px 10px;
    column-count: 3;
}

.flex-item {
    background-color: rgb(102, 73, 129);
    flex: 1 1 auto;
    border: solid #4d0046 3px;
    font-size: 20px;
    padding-left: 7px;
    color:rgb(255, 255, 255);
}

/*.col {
    flex: 1;
}
*/

#col1, #col3 {
    flex: 1;
}

#col2 {
    flex: 3;
}

#flex-item7 {
    text-align: center;
    font-size: 2vw;
    background-color: #d40000;
    padding-right: 7px;
    color: black;
}




.usrpic {
    width: 80px;
    clip-path: circle();
    vertical-align: middle;
}

.usrname {
    font-size: 20px;
    padding-left: 5px;
}

.liltext {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 15px;
}


.header {
    padding: 20px;
    padding-left: 40px;
    text-align: left;
    background: #07ae02;
    transition: background-color 4s ease-out 100ms;
    color: rgb(255, 255, 255);
    font-size: 30px;
}  

.header:hover {
    background-color: #820000;
}

.hot {
    width: 100%;
    padding-top: 5px;
}

/* CSS Document */
